<!DOCTYPE html>

{% load static %}

<html lang="tr">
<head>
    <style>

        .select {
        margin-bottom: 10px;
        margin-top: 10px;
        background: green;
        color: white;
        border: 1px solid crimson;
        padding: 4px;
        border-radius: 9px;
      }
    </style>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title>Post</title>
</head>
<body>

    {% include 'partials/_navbar.html' %}

<div class="container mt-5 w-50" style="padding-top: 35px">
    <h1>Post</h1>
    <hr>

    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

  {% if error %}
    <div class="alert alert-danger">
        {{ error }}
    </div>
    {% endif %}

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Caption</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" name="Title" required>
            </div>

            <div class="mb-3">
            <label for="formFile" class="form-label">Choose an image</label>
            <input class="file" type="file" id="formFile" name="image">
            </div>

                <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Message</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="message"></textarea>
        </div>

             <select class="file-select" multiple aria-label="multiple select example" name="select[]">

                 {% for c in category %}
                    <option value={{ c.id }}>{{ c.name }}</option>
                 {% endfor %}
     </select>


                 <div class="col-auto" style="margin-top: 10px">
            <button type="submit" class="btn btn-primary mb-3">Submit</button>
        </div>


</form>
</div>
</body>
</html>